app_name               = "sample_app"
root_domain_name       = "example.com"
app_domain_name        = "app.example.com"
app_repository         = "repo:example/sample_app:*"
sns_subscription_email = "email@example.com"

rds = {
  engine_version        = "15.7"
  instance_class        = "db.t3.micro"
  storage_type          = "gp2"
  allocated_storage     = 20
  max_allocated_storage = 100
  multi_az              = false

  # RDSではLC_COLLATEとLC_CTYPEを設定できないので、DB作成時にtemplate0を利用し、ENCODING、LC_COLLATE、LC_CTYPEを指定してください。
  # 一度DBを作成するとあとで変更するのは大変なので、注意してください。
  # Set the values below according to your region.
  # Note: RDS does not allow setting LC_COLLATE and LC_CTYPE in the parameter group.
  # Therefore, use template0 and specify ENCODING, LC_COLLATE, and LC_CTYPE during database creation.
  db_parameter_group = {
    family      = "postgres15"
    lc_monetary = "C"
    lc_numeric  = "C"
    lc_time     = "C"
    timezone    = "Asia/Tokyo"  # "UTC"
  }
}

ecs = {
  service = {
    platform_version = "1.4.0"
    desired_count    = 1
  }
  task_definition = {
    vcpu   = "0.25"
    cpu    = "256"
    memory = "512"
  }
}

appautoscaling_target = {
  min_capacity = 1
  max_capacity = 1
}

allowed_ips_in_maintenance = [
  "xxx.xxx.xxx.xxx/32",
  "xxx.xxx.xxx.xxx/32"
]

# タスク定義を更新する場合、事前に関連する以下のリソースを削除する必要があります。
#   - aws_codedeploy_app
#   - aws_codedeploy_deployment_group
#   - aws_ecs_service
#   - aws_appautoscaling_target
#   - aws_appautoscaling_policy
#   - aws_cloudwatch_metric_alarm
# このフラグをtrueにすることで該当リソースを削除します。
# lifecycleのignore_changesをコメントアウトしてタスク定義を更新してください。
delete_before_ecs_task_update = false

# さまざまなリソースを停止、無効化、または0などに更新してコストダウンしたい場合にtrueにします。
# リソースまでは削除しません。またサービスは動作しなくなります。
service_suspend_mode = false